<h1 style="text-align: center">Technology Blogs</h1>
<div style="text-align: center">
  <button (click)="onAddBlog()" color="primary" mat-raised-button>Add Blog</button>
</div>
<mat-card *ngFor="let blog of blogs.blogList">
  <mat-card-header>
    <h1>{{blog.title}}</h1>
    <div style="text-align: right; width: 100%;">
      <button (click)="onEditBlog(blog.id)" color="primary" mat-raised-button>Edit</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{blog.description}}</p>
  </mat-card-content>
</mat-card>
